.App {
  text-align: center;
}
.headerContainer {
  height: 150px;
  width:100%;
  background-color: bisque;
}
nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.footerContainer {
  height: 200px;
  position:absolute;
  width:100%;
  bottom:0px;
  background-color: #093542;
}